@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "My Podcasts";
}

<div>
    <h2>Here is a link to my podcast <a href=" https://baconsale.com/">Baconsale.</a></h2>
</div>
